.profile__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .profile__subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 424px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}
