.popup-card__button-cross {
  width: 58px;
  height: 58px;
}

@media (max-width: 767px) {
  .popup-card__button-cross {
    top: -40px;
    right: -40px;
  }
}

@media (max-width: 424px) {
  .popup-card__button-cross {
    top: -30px;
    right: -30px;
  }
}
