.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: contain;
  margin: 0 30px 10px 0;
}

@media (max-width: 767px) {
  .profile__avatar {
    margin: 0 0 15px 0;
  }
}
